@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/spacemono-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/spacemono-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  --clr-cyan-500: hsl(172, 67%, 45%);
  --clr-cyan-900: hsl(183, 100%, 15%);

  --clr-grayish-cyan-50: hsl(189, 41%, 97%);
  --clr-grayish-cyan-200: hsl(185, 41%, 84%);
  --clr-grayish-cyan-400: hsl(184, 14%, 56%);
  --clr-grayish-cyan-500: hsl(186, 14%, 43%);

  --clr-red-500: hsl(0, 84%, 60%);

  --clr-white: hsl(0, 0%, 100%);

  --clr-shadow: hsl(183 100% 15% / 0.1);

  --ff-main: "Space Mono";

  --fs-300: 0.8125rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;

  --fw-regular: 700;
}

body {
  color: var(--clr-grayish-cyan-500);
  background-color: var(--clr-grayish-cyan-200);
  font-family: var(--ff-main), monospace;
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

.container {
  max-width: 52.5rem;
  margin-inline: auto;
  display: grid;
  align-content: center;
  min-height: 100vh;
}

.brand-logo {
  margin-inline: auto;
  margin-block: 2.5rem;
}

.calculator {
  background-color: var(--clr-white);
  padding: 2rem;
  border-start-start-radius: 2rem;
  border-start-end-radius: 2rem;
  display: grid;
  gap: 2rem;
  box-shadow: 1rem 2rem 1rem var(--clr-shadow);
}

.calculator-form {
  display: grid;
  gap: 2rem;
}

.input {
  color: var(--clr-cyan-900);
  background-color: var(--clr-grayish-cyan-50);
  font-size: var(--fs-600);
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 0.25rem;
  text-align: end;
  cursor: pointer;
}

.input:hover,
.input:focus {
  outline: 0.15rem solid var(--clr-cyan-500);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input[type="number"] {
  appearance: textfield;
}

.input:invalid {
  outline: 0.15rem solid var(--clr-red-500);
}

.input-field {
  display: grid;
  grid-template-columns: [icon-start input-start] auto [icon-end] 1fr [input-end];
}

.input-field_labeled {
  grid-template-columns: [label-start error-start icon-start input-start] auto [icon-end] 1fr [label-end error-end input-end];
  grid-template-rows: [label-start] auto [label-end icon-start input-start] auto [icon-end input-end error-start] auto [error-end];
  row-gap: 0.25rem;
}

.input-field__label {
  grid-area: label;
}

.input-field__error {
  grid-area: error;
  color: var(--clr-red-500);
}

.input-field__icon {
  font-size: var(--fs-600);
  grid-area: icon;
  align-self: center;
  margin-inline-start: 1rem;
  z-index: 50;
}

.input-field__input {
  grid-area: input;
}

.fieldset {
  border: none;
}

.fieldset__title {
  margin-block-end: 1rem;
}

.fieldset__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.radio-button {
  color: var(--clr-white);
  background-color: var(--clr-cyan-900);
  font-size: var(--fs-600);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
}

.radio-button:hover {
  color: var(--clr-cyan-900);
  background-color: var(--clr-grayish-cyan-200);
}

.radio-button-custom {
  position: relative;
}

.radio-button-custom__button {
  position: absolute;
  inset: 0;
  color: var(--clr-grayish-cyan-500);
  background-color: var(--clr-grayish-cyan-50);
  text-align: end;
}

.radio-button-custom__input-field {
  position: absolute;
  inset: 0;
  display: none;
  z-index: 10;
}

.radio-button-custom__button:has(input:checked)
  + .radio-button-custom__input-field {
  display: grid;
}

.radio-button-custom .input-field__icon {
  color: var(--clr-cyan-900);
}

.radio-button-custom__input:not(:focus) {
  color: var(--clr-cyan-900);
  background-color: var(--clr-cyan-500);
}

.radio-button:has(input:checked) {
  color: var(--clr-cyan-900);
  background-color: var(--clr-cyan-500);
}

.radio-button input {
  appearance: none;
}

.output {
  background-color: var(--clr-cyan-900);
  padding: 2.5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  display: grid;
  gap: 1.5rem;
}

.output-field {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "title value"
    "unit  value";
}

.output-field__title {
  grid-area: title;
  color: var(--clr-white);
  align-self: self-end;
}

.output-field__unit {
  grid-area: unit;
  font-size: var(--fs-300);
}

.output-field__value {
  grid-area: value;
  justify-self: self-end;
  align-self: center;
  color: var(--clr-cyan-500);
  font-size: var(--fs-800);
}

.button {
  color: var(--clr-cyan-900);
  background-color: var(--clr-cyan-500);
  font-size: var(--fs-500);
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: var(--clr-grayish-cyan-200);
}

.button:disabled {
  color: var(--clr-cyan-900);
  background-color: var(--clr-cyan-500);
  cursor: not-allowed;
  filter: brightness(0.5);
}

@media screen and (min-width: 425px) {
  .input-field_labeled {
    grid-template-columns: [label-start error-start icon-start input-start] auto [icon-end] 1fr [label-end error-end input-end];
    grid-template-rows: [label-start error-start] auto [label-end error-end icon-start input-start] auto [icon-end input-end];
  }

  .input-field__error {
    justify-self: self-end;
  }
}

@media screen and (min-width: 52.5rem) {
  .calculator {
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
  }

  .calculator-form {
    padding: 1rem;
  }

  .radio-group__layout {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .radio-button {
    padding: 0.25rem 0.75rem;
  }

  .output {
    grid-template-rows: auto auto 1fr;
    padding: 2rem;
  }

  .output-field__value {
    font-size: var(--fs-900);
  }

  .output__button {
    align-self: self-end;
  }
}
